<!-- app/home/template.hbs -->

<div class="page-container home-page">
  <aside class="left"> 
    {{profile-glance user=model.user}}
  </aside>
  
  <!-- New code -->
<!-- app/home/template.hbs -->

<main>
  {{status-update openComposeModal=(action 'openComposeModal')}}
  {{chirps-list chirps=model.chirps}} <!-- Pass it down -->
</main>
</div>
